# Сборка Gradle (ищет папки build и .gradle на любом уровне вложенности)
.gradle/
**/build/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
**/out/

# VS Code
.vscode/

# Eclipse / STS / NetBeans
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
**/bin/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Системный мусор
*.log
.DS_Store
Thumbs.db
